* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #d2eaf1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 12px;
}

main {
    background-color: whitesmoke;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    max-width: 420px;
}

.todo {
    position: relative;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 20px 0;
}

.todo-header__date {
    display: flex;
}

.todo-header__date>div {
    margin-right: 10px;
}

.todo-header__date h4 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
}

.todo-header__date p {
    font-weight: 700;
    font-size: 1.05rem;
    line-height: 1.05rem;
}

.todo-header__date span {
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 0.95rem;
}

.todo-header__day {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.todo-progress {
    display: flex;
    padding: 3rem 20px 1.5rem;
}

.todo-progress__graph {
    width: 2rem;
    height: 2rem;
    background: #dfdfdf;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
    position: relative;
}

.todo-progress__graph::after {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    line-height: 1.4rem;
    background: whitesmoke;
    border-radius: 50%;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.todo-progress__graph .circle .circle-mask,
.todo-progress__graph .circle .fill {
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 50%;
}

.todo-progress__graph .circle .circle-mask {
    clip: rect(0px, 2rem, 2rem, 1rem);
}

.circle-mask .fill {
    clip: rect(0px, 1rem, 2rem, 0px);
    background-color: #227ded;
}

.circle-mask.full,
.circle .fill {
    transition: transform ease-in-out 1s;
}

.todo-progress__title h1 {
    font-size: 1.85rem;
    line-height: 1.85rem;
    font-weight: 700;
}

.todo-progress__title p {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 300;
}

.todo-divider {
    height: 1px;
    background-color: #dfdfdf;
    width: 80%;
    margin: 10px 0 10px auto;
}

.todo-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.todo-list__item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.todo-list__item input {
    position: absolute;
    left: 15px;
    opacity: 0;
}

.todo-list__item input:checked~label {
    background-color: #ececec;
}

.todo-list__item input:checked~label p {
    color: #227ded;
    text-decoration: line-through;
}

.todo-list__item label {
    cursor: pointer;
    padding: 10px 40px;
    width: 100%;
}

.todo-list__item label:hover {
    background-color: #dfdfdf !important;
}

.todo-list__item p {
    font-weight: 700;
    font-size: 1.1rem;
}

.todo-list__item span {
    font-weight: 300;
    font-size: 0.8rem;
}

.todo-list__item button {
    background: url('data:image/svg+xml; utf8, <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 6.002c0-.552-.448-1-1-1h-12.628c-.437 0-.853.191-1.138.523-1.078 1.256-3.811 4.439-4.993 5.816-.16.187-.241.418-.241.65s.08.464.24.651c1.181 1.38 3.915 4.575 4.994 5.836.285.333.701.524 1.14.524h12.626c.552 0 1-.447 1-1 0-2.577 0-9.423 0-12zm-7.991 4.928 1.71-1.711c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .194-.073.385-.219.532l-1.711 1.71 1.728 1.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.531-.219l-1.728-1.728-1.728 1.728c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l1.728-1.728-1.788-1.787c-.146-.147-.219-.338-.219-.531 0-.426.346-.75.751-.75.192 0 .384.073.53.219z" fill-rule="nonzero"/></svg>');
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.todo-list__item button:hover {
    opacity: 0.75;
}

.todo-footer {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.todo-footer__add,
form button[type="submit"] {
    background-color: #227ded;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 0.75rem;
    color: whitesmoke;
    cursor: pointer;
    margin-left: auto;
}

.todo-footer__add:hover,
.todo-footer__add:focus,
form button[type="submit"]:hover,
form button[type="submit"]:focus {
    background-color: #d2eaf1;
    color: black;
}

.todo-form {
    background: whitesmoke;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    z-index: -1;
    opacity: 0;
    transition: opacity, bottom 300ms ease-in;
}

.todo-form.open {
    bottom: 62px;
    opacity: 1;
    z-index: 100;
}

form input,
form textarea,
form select {
    display: block;
}

form label {
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: 10px;
}

form label:first-of-type {
    margin-top: 0;
}

form button[type="submit"] {
    margin-top: 10px;
    font-size: 1.1rem;
    width: 100%;
}